<!-- The content below is only a placeholder and can be replaced. -->
<div class="container" style="text-align:center; margin-top:3em">
    <h1> Bitcoin Congestion Manager </h1>
    <iframe src="https://media.giphy.com/media/QXARaKq53bqVi/giphy.gif" width="515" height="380" frameBorder="0"></iframe>
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Waiting time (min)</th>
                <th>Fee rate (sat/B)</th>
                <th>Savings (sat/B)</th>
                <th>Depth in the mempool (MB)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let minDiff of minDiffs">
                <td>{{ minDiff.targetBlock * 10 }}</td>
                <td>{{ round(minDiff.feeRate, 4) }}</td>
                <td>{{ -round(minDiff.cumDiff, 4) }}</td>
                <td>{{ round(minDiff.targetBlock * 0.95, 2) }}</td>
            </tr>
        </tbody>
        <caption>First value is the best deal, if any exists, otherwise it's the next block estimated fee. Last value is the next block estimated minimun fee.</caption>
    </table>
</div>
