<!-- The content below is only a placeholder and can be replaced. -->
<div class="container" style="text-align:center; margin-top:3em">
    <h1> Bitcoin Congestion Manager </h1>
<video controls autoplay loop>
  <source src="https://media.giphy.com/media/QXARaKq53bqVi/giphy.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Waiting time <br/> (min)</th>
                <th>Fee rate <br/> (sat/B)</th>
                <th>Savings <br/> (sat/B)</th>
                <th>1 -> 2<br/> non-segwit <br/> (sat ~ usd)</th>
                <th>1 -> 2<br/> segwit <br/> (sat ~ usd)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let minDiff of minDiffs">
                <td>{{ minDiff.targetBlock * 10 }}</td>
                <td>{{ round(minDiff.feeRate, 4) }}</td>
                <td>{{ -round(minDiff.cumDiff, 4) }}</td>
                <td>{{ round(minDiff.feeRate * 256, 0) }} ~ {{round(minDiff.feeRate * 256 * btcusd * 1e-8, 2)}}</td>
                <td>{{ round(minDiff.feeRate * 165, 0) }} ~ {{round(minDiff.feeRate * 165 * btcusd * 1e-8, 2)}}</td>
            </tr>
        </tbody>
        <caption>First row is the best deal. 10 min waiting time is the fee for inclusion in the next block. RBF for transactions with waiting time greater than 30 min.</caption>
    </table>
</div>
