<div class="container-fluid">
  <h1><span class="title">Bitcoin Congestion Manager</span></h1>
  <video autoplay loop muted>
    <source src="https://media.giphy.com/media/QXARaKq53bqVi/giphy.mp4" type="video/mp4">
    Your shitty browser does not support the video tag.
  </video>

  <!-- <div *ngIf="lastBlock !== undefined"> -->
  <!-- <div *ngIf="lastBlock.minutes === 0"> -->
  <!-- Yay! A new block was just found! Last block hash {{ lastBlock.blockHash }} -->
  <!-- </div> -->
  <!-- <div *ngIf="lastBlock.minutes > 0 && lastBlock.minutes <= 10"> -->
  <!-- Last block found {{ lastBlock.minutes }} minutes ago! Last block hash {{ lastBlock.blockHash }} -->
  <!-- </div> -->
  <!-- <div *ngIf="lastBlock.minutes > 10 && lastBlock.minutes <= 30"> -->
  <!-- Traffic blocked for {{ lastBlock.minutes }} minutes! Hold tight, and don't jump in front of the line! That would delay all others. Last block hash {{ lastBlock.blockHash }} -->
  <!-- </div> -->
  <!-- <div *ngIf="lastBlock.minutes > 30 && lastBlock.minutes <= 50"> -->
  <!-- Shit! It's bad! Traffic blocked for {{ lastBlock.minutes }} minutes! Some bitcoiners picked their fees more than {{ lastBlock.minutes }} minutes ago and they could't know about the blockage! But you know it! Don't you dare to block them! Pick a low fee! Last block hash {{ lastBlock.blockHash }} -->
  <!-- </div> -->
  <!-- <div *ngIf="lastBlock.minutes > 50"> -->
  <!-- Bitcoin blockchain stoped! Jammed for {{ lastBlock.minutes }} minutes! "Poisson, please unblock us!" said the officer. To which Poisson responded: "The probability of me giving you a block now is equal to the probability you had to get a block {{lastBlock.minutes}} minutes ago, loser!" Last block hash {{ lastBlock.blockHash }} -->
  <!-- </div> -->
  <!-- </div> -->

  <div class="table-responsive-md ">
    <table class="table table-hover table-dark" align="center">
      <thead>
        <tr>
          <th colspan="1" *ngIf="advanced" >
            <input (change)="toggleAdvanced()" type="checkbox" checked> advanced
          </th>
          <th colspan="1" *ngIf="!advanced" >
            <input (change)="toggleAdvanced()" type="checkbox"> advanced
          </th>
          <th colspan="2" *ngIf="lastUpdatedCounter <= maxTimeout">
            <a href="https://tradeblock.com/bitcoin/block/{{lastBlock.blockHash}}" target="_blank">Last block {{lastBlock.minutes}} min ago,</a> updated {{lastUpdatedCounter}} s ago
          </th>
          <th colspan="2" *ngIf="lastUpdatedCounter > maxTimeout">
            Disconnected! Please, reload page manually!
          </th>
          <th colspan="4" *ngIf="lastUpdatedCounter === undefined"></th>
          <th colspan="4 ">1 input and 2 outputs transaction <br/></th>
        </tr>
        <tr>
          <th colspan="1" *ngIf="advanced"> Confirmed in <br/></th>
          <th colspan="1" *ngIf="advanced"> Mempool position <br/></th>
          <th colspan="2" *ngIf="!advanced"> est. Waiting time <br/></th>
          <th>Fee rate</th>
          <!-- <th>Savings</th> -->
          <th colspan="2 ">Non-segwit</th>
          <th colspan="2 ">Segwit</th>
        </tr>
        <tr>
          <th> {{ advanced ? "block" : "minutes" }} </th>
          <th> {{ advanced ? "MvB" : "probability" }}</th>
          <th>sat / vB</th>
          <!-- <th>sat / vB</th> -->
          <th>sat</th>
          <th>usd</th>
          <th>sat</th>
          <th>usd</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let minDiff of minDiffs" class="{{minDiff.score> 0.7 ? 'cool' : 'notcool'}}"  fon>
          <td>{{ translate(minDiff.targetBlock).time }}</td>
          <td>{{ translate(minDiff.targetBlock).probability }}</td>
          <td>{{ round(minDiff.feeRate, 3) }}</td>
          <!-- <td>{{ -round(minDiff.cumDiff, 3) }}</td> -->
          <td>{{ round(minDiff.feeRate * twoInOneOutVSize.nonsegwit, 0) }} </td>
          <td>${{round(minDiff.feeRate * twoInOneOutVSize.nonsegwit * btcusd * 1e-8, 2)}}</td>
          <td>{{ round(minDiff.feeRate * twoInOneOutVSize.segwit, 0) }} </td>
          <td>${{round(minDiff.feeRate * twoInOneOutVSize.segwit * btcusd * 1e-8, 2)}}</td>
        </tr>
      </tbody>
      <caption>Please broadcast only RBF transactions for waiting time greater than 20 min. Mempool can change dramatically fast. vB represents virtual bytes. Non-segwit transaction with 1 input and 2 outpus has 226 vB and a segwit transaction has 165 vB. A block max capacity is 1MvB.</caption>
    </table>
  </div>
</div>
