<div class="container-fluid">
  <h1><span class="title">Bitcoin Congestion Manager</span></h1>
  <video autoplay loop muted>
    <source src="https://media.giphy.com/media/QXARaKq53bqVi/giphy.mp4" type="video/mp4">
    Your shitty browser does not support the video tag.
  </video>

  <div *ngIf="minsFromLastBlock !== undefined">
    <div *ngIf="minsFromLastBlock === 0">
      Yay! A new block was just found!
    </div>
    <div *ngIf="minsFromLastBlock > 0 && minsFromLastBlock <= 10">
      Last block found {{ minsFromLastBlock }} minutes ago!
    </div>
    <div *ngIf="minsFromLastBlock > 10 && minsFromLastBlock <= 30">
      Traffic blocked for {{ minsFromLastBlock }} minutes! Hold tight, and
      don't jump in front of the line! That would delay all others.
    </div>
    <div *ngIf="minsFromLastBlock > 30 && minsFromLastBlock <= 50">
      Shit! It's bad! Traffic blocked for {{ minsFromLastBlock }} minutes!
      Some bitcoiners picked their fees more than {{ minsFromLastBlock }} minutes
      ago and they could't know about the blockage! But you know it! Don't you
      dare to block them! Pick a low fee!
    </div>
    <div *ngIf="minsFromLastBlock > 50">
      Bitcoin blockchain stoped! Jammed for {{ minsFromLastBlock }} minutes!
      "Poisson, please unblock us!" said the officer. To which Poisson
      responded: "The probability of me giving you a block now is equal to the
      probability you had to get a block {{minsFromLastBlock}} minutes ago,
      loser!"
    </div>
  </div>

  <div class="table-responsive-md ">
    <table class="table table-hover table-dark" align="center">
      <thead>
        <tr>
          <th colspan="4">Last updated {{lastUpdatedCounter}} seconds ago</th>
          <th colspan="4">1 input and 2 outputs transaction <br/></th>
        </tr>
        <tr>
          <th colspan="2">est. Waiting time <br/></th>
          <th>Fee rate</th>
          <th>Savings</th>
          <th colspan="2">Non-segwit</th>
          <th colspan="2">Segwit</th>
        </tr>
        <tr>
          <th> minutes</th>
          <th>probability</th>
          <th>sat / vB</th>
          <th>sat / vB</th>
          <th>sat</th>
          <th>usd</th>
          <th>sat</th>
          <th>usd</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let minDiff of minDiffs" class="{{minDiff.score > 0.2 ? 'cool' : 'notcool'}}">
          <td>{{ translate(minDiff.targetBlock).time }}</td>
          <td>{{ translate(minDiff.targetBlock).probability }}</td>
          <td>{{ round(minDiff.feeRate, 3) }}</td>
          <td>{{ -round(minDiff.cumDiff, 3) }}</td>
          <td>{{ round(minDiff.feeRate * twoInOneOutVSize.nonsegwit, 0) }} </td>
          <td>${{round(minDiff.feeRate * twoInOneOutVSize.nonsegwit * btcusd * 1e-8, 2)}}</td>
          <td>{{ round(minDiff.feeRate * twoInOneOutVSize.segwit, 0) }} </td>
          <td>${{round(minDiff.feeRate * twoInOneOutVSize.segwit * btcusd * 1e-8, 2)}}</td>
        </tr>
      </tbody>
      <caption>10 min waiting time is the fee for inclusion in the next block. The different priorities for 10 and 20 min indicate what part of the block we are targeting: high corresponds to the middle of the block, mid 3/4 of the block and low towards the end of the block. Please broadcast only RBF transactions for waiting time greater than 20 min. Mempool can change dramatically fast. vB represents virtual bytes. Non-segwit transaction with 1 input and 2 outpus has 226 vB and a segwit transaction has 165 vB. A block max capacity is 1M vB</caption>
    </table>
  </div>
</div>
